:root {
  --vp-font-family-base: "Montserrat", sans-serif;
  --vp-c-bg: #e6e6e6;
  --vp-c-bg-alt: #d2d2d2;
  --vp-c-brand-1: #e69a67;
  --vp-c-brand-2: #e69525;
  --vp-c-brand-3: #ff8547;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #e69a67 30%,
    #ff8547
  );
  --vp-home-hero-image-background-image: -webkit-linear-gradient(
    120deg,
    #e69a67 30%,
    #ff8547
  );
  --vp-home-hero-image-filter: blur(44px);
}

.dark {
  --vp-c-bg: #121212;
  --vp-c-bg-alt: #161616;
  --vp-c-brand-1: #fac898;
  --vp-c-brand-2: #ffb347;
  --vp-c-brand-3: #ff8547;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-image-filter: blur(44px);
  --vp-home-hero-name-background: -webkit-linear-gradient(
    180deg,
    #fac898,
    #ff8547
  );
  --vp-home-hero-image-background-image: -webkit-linear-gradient(
    120deg,
    #e69a67,
    #ff8547
  );
}
